<!DOCTYPE html>
<html>
  <head>
    <title>Desktop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header style="height: 50px; background-color: gray;">
    <% if user_signed_in? %>
     <%= link_to user_path(current_user.id) do %><%= current_user.nickname %><% end %>
     <%= link_to "投稿", new_user_tweet_path
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
     <%= link_to "ログイン", new_user_session_path %>
     <%= link_to "会員登録", new_user_registration_path %>
    <% end %>
    <%= link_to "トップへ", root_path, style:"float: right;" %>
  </header>
    <%= yield %>
  </body>
</html>
